.CaseBoard {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.CaseName{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.CaseTitle{
    background: none;
    font-size: 30px;
    border: 3px solid #e8e1d3;
    padding: 8px;
    color: #E6E6E6;
    min-width: 400px;
}

.CaseTitle:focus{
    outline: none;
}

.CaseEditForm{
    display: flex;
    gap: 12px;
}

.CaseEdit{
    display: flex;
    gap: 12px;
}

.CaseEditRadio{
    display: block;
    background-color: #e8e1d3;
    padding: 6px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    border-radius: 14px;
    transition: 0.2s;
}

.CaseEditRadioActive{
    background-color: #afa696;
}

.CaseEditRadio:hover{
    background-color: #afa696;
}

.CaseEditRadioImg{
    width: 100%;
}

.CaseEditRadioBtn{
    display: none;
}

.ClueContainer {
    position: relative;
    border: 2px solid;
    flex: 1;
    /* height: 700px; */
    display: flex;
    justify-content: space-between;
    background-color: #e8e1d3;
}

.ClueDrop {
    width: 200px;
    height: 100px;
    position: absolute;
    border: 2px dotted;
    background-color: #d6cbb8;
    color: #5a5146;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
}

.AddZoneDrop {
    /* top: 50%; */
    left: 0;
}

.AddZoneClue {
    width: 100%;
    height: 100%;
    border: 2px solid;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
}

.DeleteZoneDrop {
    right: 0;
}

/* .ClueModal{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.288);
} */

.ModalTitle {
    width: 100%;
    font-size: 20px;
    text-align: center;
    border: none;
    user-select: none;
    border-bottom: 2px solid;
    padding: 12px;
    background-color: #E6E6E6;
}

.ModalTitle:focus {
    outline: none;
}
