body{
    margin: 0;
    padding: 0;
}

.CaseBoard {
    border: 2px solid;
}

.ClueContainer {
    position: relative;
    border: 2px solid;
    height: 700px;
    display: flex;
    justify-content: space-between;
}

.ClueDrop {
    width: 200px;
    height: 100px;
    position: absolute;
    border: 2px dotted;
}

.AddZoneDrop {
    /* top: 50%; */
    left: 0;
}

.AddZoneClue {
    width: 100%;
    height: 100%;
    text-align: center;
    border: 2px solid;
    z-index: 100;
}

.DeleteZoneDrop {
    right: 0;
}

.ClueModal{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.288);
}

.ModalTitle{
    width: 100%;
    font-size: 20px;
    text-align: center;
    border: none;
    user-select: none;
    border-bottom: 2px solid;
}

.ModalTitle:focus{
    outline: none;
}