.ClueElement{
    border: 2px solid;
    width: 200px;
    padding: 10px;
    background-color: green;
}

.ConnectionElement{
    background-color: red;
    padding: 10px;
}

.ConnectionDrop{
    transition: 0.1s;
    position: relative;
    top: -30px;
    width: 20%;
    margin: auto;
    border-radius: 100%;
    border: none;
    aspect-ratio: 1 / 1;
    background-color: red;
    border: 2px solid;
}

.ConnectionDrop:hover{
    transform: scale(1.02);
    cursor: pointer;
}