body {
    margin: 0;
    padding: 0;
}

#root {
    padding: 24px;
    min-height: 100vh;
    display: flex;
    gap: 24px;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    font-size: 24px;
    font-weight: 600;
    max-width: 200px;
}

.header-nav {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 18px;
}

.nav-link {
    background-color: #c2a35d;
    padding: 8px;
    border-radius: 16px;
    transition: 0.2s;
    color: #121417;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.nav-link:hover {
    transform: scale(1.1);
    color: #e6e6e6;
}

.header-nav > a {
    display: flex;
    gap: 8px;
    align-items: center;
}

.header-nav > a > img {
    height: 32px;
}

.header-logo {
    display: block;
    font-size: 32px;
    padding: 8px 16px;
}

.CaseDisplay {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.CaseDisplay > * {
    padding: 24px;
    background-color: #c2a35d;
    color: #121417;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 16px;
}

.CaseContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

.CaseContainer > * {
    width: 30%;
}

.CaseLink {
    cursor: pointer;
    background-color: #c2a35d;
    max-width: 300px;
    padding: 12px;
    color: #121417;
    border-radius: 12px;
}

.CaseLinkTitle {
    font-size: 24px;
    font-weight: 600;
}

.CaseLinkStatus {
    font-size: 18px;
}

.CaseForm {
    border: none;
    border-bottom: 2px solid;
    background: none;
    font-size: 18px;
    padding: 4px 8px;
}

.ProfileMain {
    display: flex;
}

.ProfileData {
    background-color: #c2a35d;
    padding: 12px;
    border-radius: 12px;
    color: #121417;
}
