#root {
    width: 80%;
    margin: auto;
}

.HeaderNav {
    display: flex;
    gap: 12px;
}

.CaseContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    padding: 14px;
}

.CaseContainer > * {
    width: 30%;
}
