body{
    margin: 0;
    padding: 0;
}

#root {
    padding: 24px;
    min-height: 100vh;
    display: flex;
    gap: 12px;
}

main{
    flex: 1;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 600;
    max-width: 156px;
}

.header-nav {
    gap: 18px;
}

.nav-link{
    background-color: #C2A35D;
    padding: 8px;
    border-radius: 16px;
    transition: 0.2s;
    color: #121417;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.nav-link:hover{
    transform: scale(1.1);
    color: white;
}

.header-nav > a{
    display: flex;
    gap: 8px;
    align-items: center;
}

.header-nav > a > img{
    height: 32px;
}

.CaseContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    padding: 14px;
}

.CaseContainer > * {
    width: 30%;
}
