.CaseBoard {
    border: 2px solid;
}

.ClueContainer {
    position: relative;
    border: 2px solid;
    height: 1000px;
    display: flex;
    justify-content: space-between;
}

.ClueDrop {
    width: 200px;
    height: 100px;
    position: absolute;
    border: 2px dotted;
}

.AddZoneDrop {
    /* top: 50%; */
    left: 0;
}

.AddZoneClue {
    width: 100%;
    height: 100%;
    text-align: center;
    border: 2px solid;
}

.DeleteZoneDrop {
    right: 0;
}

svg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}
