.CaseBoard{
    border: 2px solid;
}

.ClueContainer{
    position: relative;
    border: 2px solid;
    height: 1000px;
    display: flex;
    justify-content: space-between;
}

.ClueDrop{
    width: 20%;
    height: 45%;
    position: relative;
}

.AddZoneClue{
    width: 100%;
    height: 100%;
    text-align: center;
    border: 2px solid;
}
