.ClueElement{
    border: 2px solid;
    padding: 10px;
    min-width: 200px;
    background-color: green;
}

.ConnectionElement{
    background-color: red;
    padding: 10px;
}

.ConnectionDrop{
    transition: 0.1s;
}

.ConnectionDrop:hover{
    transform: scale(1.02);
    cursor: pointer;
}